# Build-Ausgabe
dist
build
coverage

# Dependencies
node_modules

# Logs
*.log

# Lock-Dateien
package-lock.json
pnpm-lock.yaml
yarn.lock

# IDE
.idea
.vscode

# Generated
src/routeTree.gen.ts

# Andere
*.min.js
*.min.css
